version: '3.8'

services:
  postgres-db:
    image: postgres:16-alpine
    container_name: audit_demo_db
    environment:
      - POSTGRES_DB=audit_db
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password123
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: